.word1{
  color: yellow;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 3rem;
}
#word2{
  color: black;
  font-size: 1.5rem;
}

.header{
  background-color: yellowgreen;
  display: flex;
}
.cart{
  position: absolute;
  right: 4rem;
  top: 1.6rem;
}
.img4{
  height: 413px;
}
.container-fluid{
  background-color: rgb(246, 246, 241);
}
.card1{
  width: 700px;
}
.img6{
  height: 180px;
}
.a1{
  display: flex;
  align-items: center;
padding: 5px;
}